<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1" 
 metadata-complete="true">
  <display-name>study_room</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>reg</servlet-name>
  	<servlet-class>db.reg</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>reg</servlet-name>
  	<url-pattern>/reg</url-pattern>
  </servlet-mapping>
 
  <servlet>
  	<servlet-name>reg_join</servlet-name>
  	<servlet-class>db.reg_join</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>reg_join</servlet-name>
  	<url-pattern>/reg_join</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>Move</servlet-name>
  	<servlet-class>db.Move</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Move</servlet-name>
  	<url-pattern>/move</url-pattern>
  </servlet-mapping>  
  
    <servlet>
  	<servlet-name>Remain</servlet-name>
  	<servlet-class>db.Remain</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Remain</servlet-name>
  	<url-pattern>/Remain</url-pattern>
  </servlet-mapping>  
  
    <servlet>
  	<servlet-name>Reservation</servlet-name>
  	<servlet-class>db.Reservation</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Reservation</servlet-name>
  	<url-pattern>/Reservation</url-pattern>
  </servlet-mapping>  
    
  
  
  
  
  
</web-app>